

.rgp-base {
    --rgp-color-bg-stark: white; 
    --rgp-color-text-stark: rgb(31, 35, 40);
    
    --rgp-color-bg-frame: rgb(246, 248, 250);
    --rgp-color-text-frame: rgb(101, 109, 118);
  
    --rgp-color-border: rgb(208, 215, 222); 

    --rgp-color-issuenumber: rgb(101, 109, 118);
    --rgp-color-file-link: rgb(9, 105, 218); 
    --rgp-color-commit-link: rgb(31, 35, 40);

    --rgp-color-status-open: rgb(31, 136, 61);
    --rgp-color-status-closed: rgb(130, 80, 223);
    --rgp-color-status-error: red;


    color: var(--rgp-color-text-stark);






}

@media (prefers-color-scheme: dark) {

    .rgp-base {

    --rgp-color-bg-stark: rgb(29, 31, 33); 
    --rgp-color-text-stark: rgb(230, 237, 243);

    
    --rgp-color-bg-frame: rgb(22, 27, 34);    
    --rgp-color-text-frame: rgb(141, 150, 160);
    
    --rgp-color-border: rgb(48, 54, 61); 
    
    --rgp-color-issuenumber: rgb(101, 109, 118);
    --rgp-color-file-link: rgb(68, 147, 248);
    --rgp-color-commit-link: rgb(230, 237, 243);

    --rgp-color-status-open: rgb(31, 136, 61);
    --rgp-color-status-closed: rgb(130, 80, 223);
    --rgp-color-status-error: red;

    
    }
}

svg.github-logo{
    fill: var(--rgp-color-commit-link);
}

.react-github-issuelink .react-github-issuelink-body {
    font-size: 16px;
    color: var(--rgp-color-text-stark);
    display: flex; 
    flex-flow: row nowrap; 
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}
.react-github-issuelink-body p {
    margin: 0;
}

.react-github-issuelink a {
    text-decoration: none;
    color: inherit;

}

.react-github-issuelink a:hover .react-github-issuelink-title,
 .react-github-issuelink a:hover .react-github-issuelink-number  {
    text-decoration: underline;
}


.react-github-issuelink-number {
    color: var(--rgp-color-issuenumber);
}

.react-github-issuelink-repo {
    font-size: 12px; 
    font-weight: bold;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 0.75em;
    text-decoration: underline;
}

.react-github-issuelink-status  {
    color: var(--rgp-color-bg-stark); 
    fill: var(--rgp-color-bg-stark);
    font-size: 0.75em;
    padding: 0 10px; 
    border-radius: 2em; 
    font-weight: 500;
    line-height: 24px; 

    display: flex; 
    flex-flow: row nowrap; 
    align-items: center; 
    justify-content: space-between;
    gap: 0.6em;

}

.react-github-issuelink-status.open {
    background-color: var(--rgp-color-status-open);
}

.react-github-issuelink-status.closed {
    background-color: var(--rgp-color-status-closed);
}

.react-github-issuelink {
    padding: 0.5em;
}

.react-github-permalink, .react-github-issuelink {
    border: solid 1px var(--rgp-color-border);
    margin: 0.5em;
    font-size: 12px;
    border-radius: 4px;   
    text-align: left;
    background-color: var(--rgp-color-bg-stark);
}



.react-github-permalink, .react-github-permalink .header {
    border-color: var(--rgp-color-border);
    border-style: solid; 
    border-width: 1px; 

}

.react-github-permalink .header {
    display: flex; 
    flex-flow: row nowrap;
    gap: 0.75em;
    align-items: center;
}

.react-github-permalink .header, .react-github-issuelink .header{
    border-width: 0 0 1px 0; 
    font-family: "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif;
}




.react-github-permalink a.file-link {
    color: var(--rgp-color-file-link);
    font-weight: bold;
}

.react-github-permalink a.commit-link {
    color:  var(--rgp-color-commit-link);
    text-decoration: underline;
}



.react-github-permalink .header p {
    color: var(--rgp-color-text-frame);
    margin: 0.25em 0;
}


.react-github-permalink .header {
    background-color: var(--rgp-color-bg-frame);
    padding: 8px; 

    .link-wrapper {
        min-width: 0; 
        overflow: hidden;

        a {

            /* 
                For issues re: ellipsis and flex see: 

                https://stackoverflow.com/questions/16660506/use-text-overflow-ellipsis-on-an-anchor-tag
                https://css-tricks.com/flexbox-truncated-text/

            */
            text-overflow: ellipsis;
            overflow: hidden;
            display: block; 

        }
    }

}

.react-github-permalink .error, .react-github-issuelink .error {
    font-weight: bold; 
    color: var(--rgp-color-status-error);
    margin-left: 1em;
}